body {
  margin: 0;
  font-family: "微軟正黑體", sans-serif;
  box-sizing: Border-box;
}

header {
  position: sticky;
  top: 0;
}

.title {
  width: 100vw;
  padding: 0.3rem 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
  background-color: LightSeaGreen;
  color: aliceblue;
}

.title:hover {
  transition: all 1s;
  background-color: darkslateblue;
  color: azure;
}

.menuButton {
  width: 2rem;
  height: 2rem;
}

.dropDown {
  position: fixed;
  top: 0.7rem;
  left: 1rem;
  z-index: 1;
}

.menu {
  display: none;
  margin: 0.3rem 0;
  padding: 1rem;
  background-color: lightcyan;
  color: aliceblue;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
}

.menuButton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.dropDown:hover .menu {
  display: block;
}

table.info {
  width: 1000px;
  height: 200px;
  margin: 10px auto;
  font-size: 18px;
  text-align: center;
  border-spacing: 5px;
}

caption.info_title {
  height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  background-color: DarkSlateGray;
  color: aliceblue;
}

table.info th {
  width: 100px;
  color: black;
  font-size: 20px;
  background-color: lightgrey;
}

.flex_area {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

table.describe_table {
  flex: none;
  width: 490px;
  height: auto;
  font-size: 15px;
}

caption.describe_table_title {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: DarkSlateGray;
  color: aliceblue;
}

table.describe_table th {
  height: 40px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: lightgrey;
  color: black;
}

table.describe_table tr {
  text-align: left;
}

table.describe_table td {
  padding: 5px;
  border-bottom: 2px solid darkslategray;
}

@media screen and (max-width: 1000px) {
  table.info {
    width: 100%;
  }
  .flex_area {
    width: 100%;
  }
  table.describe_table {
    width: 100%;
  }
}
